@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Anton+SC&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Metamorphous&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Mono&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

body{
    padding: 10px;
    overflow-x: hidden;
    font-family:  "Hanken Grotesk", sans-serif; 
}
header{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}
.logo{
  display: flex;
}
.navbar{
    display: flex;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    padding: 10px 0 0 20px;
}
.navbar a{
    color: #666666;
    text-decoration: none;
    padding: 20px;
}
.nav a.active , a:hover{
    color: #2A05AA;
}
hr{
    color: #666666;
    margin-left: 20px;
}
.btn{
    
    padding: 20px;
}
.btn button{
    width: 175px;
    height: 35px;
    border-radius: 24px;
    margin-right: 10px;
    color: #ffffff;
    border: none;
}
.ambulance{
    background-color: #DE2A1C;
}
.Appointment{
    background-color: #048DDD;
}
.popup {
  display: none; 
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.popup-content {
  background-color: #fff;
  margin: auto;
  bottom: 60px;
  padding: 20px;
  border-radius: 16px;
  width: 537px;
  align-items: center;
  margin: auto;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 44px;
  cursor: pointer;
}

.call-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  width: 180px;
  background-color: #DE2A1C;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
}
.call-button:hover {
  background-color: darkred;
  color: #fff;
}
/* Close button */
.close-contact {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
/* Hospital Info */
.hospital-info {
  text-align: center;
}
.hospital-logo {
  width: 172.56px;
  height: 181px;
  object-fit: contain;
  margin-bottom: 10px;
}
.popup-content h2{
  padding: 0px;
  margin: 0px;
}
.close-appointment {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
#appointmentForm{
  padding: 20px;
}
#appointmentForm label{
  text-align: left;
}
/* Form inputs */
#appointmentForm input,
#appointmentForm textarea {
  width: 462px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Submit Button */
.submit-button {
  background-color: #007bff;
  color: white;
  border: none;

  width: 490px;
  height: 45px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #0056b3;
}
.app{
  display: flex;
  justify-content: space-between;
  width: 395px;
  height: 56px;
  margin-bottom:40px ;
}
.date  , .shift{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  
}
#appointmentForm #date{
  width: 177px;
  height: 29px;
  
}
.shift{
  margin-left: 105px;
}
.shift select{
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 177px;
  height: inherit;
  
}
.app input , .app option{
  background-color: D9D9D9;
  color: #000000;
}
/******Home Page******************/
main{
   padding-top: 10px;
    align-items: center;
}
/**************Slideshow***************/
.slideshow-container {
    width: 1300px;
    height: 527px;
    position: relative;
  }
  .mySlides {
    display: none;
  }
  .mySlides img{
    border-radius:8px ;
  }
  /********prev and next button***********/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /**********dot**********************/
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot.active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /************Choose us**********************/
  .chooseus p{
    margin-top: 50px;
    color: #666666;
    width: 80%;
  }
  .chooseus{
    display: flex;
    justify-content: space-between;
  }
  .chooseus h2{
    margin: 0px;
    padding: 0px;
  }
  .chooseus img{
    border-radius: 8px;
    margin:0 0 0 30px;
  }
  
/********************************************************/
/****************Sign in ******************************/

.bodies{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
    background-image:linear-gradient(0deg, #fcfcfcd5),url(imgs/logo.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:auto;
    
}
.login{
    width: 450px;
    height: 350px;
    background-color: #ffffff;
    color: #666666;
    box-shadow: 0 0px 15px 3px rgba(0,0,0,25%), 0 0px 15px 3px rgba(0,0,0,25%);
    border-radius: 16px;
    padding: 30px;
}
.login h2 , p{
  padding: 0px;
  margin: 5px;
}
.login h2{
  color: #000000;
}
/*****************login form ******************/
form{
    display: flex;
    flex-direction: column;
}
input{
  width: 442px;
  height: 45px;
    border-radius: 8px;
    border:1px solid #666666;
}
label{
    padding: 10px;
}
.login button{
  margin-top: 40px;
  width: 450px;
    height: 48px;
    background-color: #048DDD;
    border: none;
    color: #ffffff;
    border-radius: 8px;
}
.login a{
  color: #ffffff;
  text-decoration: none;
}
/***************************************************/
/*****************Patient's Corner***********************/
.head{
  font-size: x-large;
  margin-top: 20px;
}
.cards{
  width: 555px;
  border-radius: 16px;
  box-shadow: 0 0px 15px 3px rgba(0,0,0,25%), 0 0px 15px 3px rgba(0,0,0,25%);
  padding-bottom: 30px;
  padding: 10px 10px;
  margin: 10px;
  margin-top: 30px;
}
.card-board{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards h3{
  text-align: center;
  font-size: 25px;
  padding: none;
  margin: none;
}
.cards h4{
  color: #666666;
  padding: none;
  margin: none;
}
.cards hr{
  margin: none;
  padding: none;
}
.card-content{
  padding-left: 20px;
}
.DDP , .price{
  display: flex;
  justify-content: space-between;
}
.price button{
  width: 63px;
  height: 30px;
  border-radius: 8px;
  margin-top: 7px;
  background-color: #666666;
  border: none;
  color: #ffffff;
  margin:none;
  font-size: 12px;
}
.price .active{
  background-color: #048DDD;
}
.price p{
  padding: 5px;
}
/**********************************************************/
/************************ABOUT US****************************/

section{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.image img{
  border-radius: 8px;
  margin: 10px;
}
.content{
  width: 665px;
  height: 470px;
}
section h3{
  font-size: 25px;
}
section p{
  color: #666666;
  font-size: 20px;
}